#footerWrap {
    display: flex;
    justify-content: center;
}

#footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
}